body {
margin-top:100px;

background-image:url(images/back.png);
margin:auto;
font-size:small;
font-family:Geneva,Verdana,Arial,Sans-serif;
line-height:20px;
}
#main {
margin-top:50px;
color:white;
text-align:center;
}
a:link {
    color:#3089FF;
    text-decoration: none;
	font-size:200%;
}
a:visited {
    color:black;
}
a:hover {
   color:white; 
}
#bookimg {
left:200px;
position:absolute;
z-index:1;
}
#text {
z-index:2;
position:relative;
width:450px;
left:340px;
top:100px;
}
#sceneimg {
z-index:2;
position:relative;

left:340px;
top:100px;
}
#decision1,#decision2 {
z-index:2;
position:relative;

left:340px;
top:100px;
}
